h1{
    color: rgb(10, 65, 128);
}

.p_azul{
    color:blue;    
}

.p_rojo{
    color:red; 
}

#ultimo_parrafo{
    color:green
}

.p_azul,.p_rojo,#ultimo_parrafo,h1{
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
