body{
    margin: 0;
    padding: 0;
    background: url(../images/bg.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.login-box{
    width: 320px;
    height: 420px;
    background-color: black;
    color:white;
    top:50%;
    left: 50%;
    position:absolute;    
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.logo{
    width: 150px;
    height: 110px; 
    border-radius: 50%;
    position:absolute;
    top: -55px;
    left: 80px;

}

.login-box h1{
    margin:0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 26px;    
}
.login-box label{
    margin:0;
    padding: 0;
    font-weight: bold;
    display: block;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;    
}

.login-box input[type="text"],
.login-box input[type="password"]{
    border:none;
    border-bottom: 5px solid white;
    background:transparent;
    height: 40px;
    color: white;
    font-size:16px ;
}

.login-box input[type="submit"]{
    border:none;
    height: 40px;
    background:coral;
    color:white;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="submit"]:hover{
    background:tomato;
}
.login-box a{
    text-decoration: none;
    font-size:12px;
    line-height: 20px;
    color:darkgray;
}

.login-box a:hover{
    color:white;
}