body{
    font-family: serif;
}
h1{
    text-align: center;    
    color:dodgerblue;
    margin-bottom: 50px;
}


#myTable{
    width: 80%;     
    left: 10%;
    position: absolute;    
}

table{
    box-shadow: 1px 1px 177px -54px rgba(69, 133, 153, 0.75);
}

.table_header{
    background-color: dodgerblue;
    color: white;
    padding: 1%;
    height: 30px;
    text-align: center;
    font-weight: bolder;
}

.table_content{
    background-color: skyblue;    
    text-align: center;
  
}
td{
    border-radius: 10%;
}
.table_content:hover{
    background-color: skyblue;
    height: 30px;
    font-weight: bold;
}
 
