<!DOCTYPE html>
<html>
    <head><!--esto es un comentario en html -->
        <title>MI SISTEMA DE TRANSPORTE MASIVO</title>
        <link rel="stylesheet" href="../styles/index.css">
        <!-- esto es otro comentario -->
    </head>
    <body>
        <!--<style>
            h1{
                color: blue;
                background-color: blueviolet;
            }            
        </style> -->
        <h1>ADMINISTRADOR DE SISTEMAS DE TRANSPORTES MASIVOS</h1>
        {% if ip %}
            <h1> NAVEGANDO DESDE LA IP {{ip}}</h1>
        {% else %}
            <h1> SIN IP </h1>
        {% endif %}
         
        <ul>
            {% for registro in buses %}
                <li>{{registro}}</li>
            {% endfor %}
        </ul>
        <!-- <h1 style="color: cyan; background-color:darkgreen">ESTA ES UNA PRUEBA DE CSS PARA VER QUE TODOS LOS H1 SE AFECTAN</h1> -->
        <h1> ESTE ES OTRO H1</h1>
        <h2>MinTic 2022</h2>
        <h3>Grupo S34</h3>
        <a href="login.html"><h3>Ir a login</h3></a>
        <p class="p_azul"><i>Se entiende por transporte masivo de pasajeros</i> el servicio que se presta a través de una combinación <br/>organizada de infraestructura y equipos, en un sistema que cubre un alto volumen de pasajeros y<br/> da respuesta a un porcentaje significativo de necesidades de movilización. </p>
        <hr/> 
        <p class="p_rojo"><i>Se entiende por transporte masivo de pasajeros</i> el servicio que se presta a través de una combinación <br/>organizada de infraestructura y equipos, en un sistema que cubre un alto volumen de pasajeros y<br/> da respuesta a un porcentaje significativo de necesidades de movilización. </p>
        <hr/> 
        <p class="p_azul"><i>Se entiende por transporte masivo de pasajeros</i> el servicio que se presta a través de una combinación <br/>organizada de infraestructura y equipos, en un sistema que cubre un alto volumen de pasajeros y<br/> da respuesta a un porcentaje significativo de necesidades de movilización. </p>
        <hr/> 
        <p class="p_rojo"><i>Se entiende por transporte masivo de pasajeros</i> el servicio que se presta a través de una combinación <br/>organizada de infraestructura y equipos, en un sistema que cubre un alto volumen de pasajeros y<br/> da respuesta a un porcentaje significativo de necesidades de movilización. </p>
        
        <p id="ultimo_parrafo"><i>Se entiende por transporte masivo de pasajeros</i> el servicio que se presta a través de una combinación <br/>organizada de infraestructura y equipos, en un sistema que cubre un alto volumen de pasajeros y<br/> da respuesta a un porcentaje significativo de necesidades de movilización. </p>
        

        <p><blockquote>“Be Hard on the issue, soft on the person”<br/>Henry cloud</blockquote> </p>
        <hr/>
        <h4 class="p_azul">Ejemplos de sistemas de transporte masivos: </h4>
        <ol>
            <li>Transmilenio</li>
            <ol>
                <li>B13</li>
                <li>B14</li>
                <li>B16</li>
                <li>B18</li>
            </ol>
            <li>Metrolinea</li>
            <li>Mio</li>
            <li>Transcaribe</li>
        </ol>
        <h4>Ejemplos de sistemas de transporte masivos: </h4>
        <ul>
            <li>Transmilenio</li>
                <ul>
                    <li>B13</li>
                    <li>B14</li>
                    <li>B16</li>
                    <li>B18</li>
                </ul>
            <li>Metrolinea</li>
                <ul>
                    <li>T1</li>
                    <li>T2</li>
                    <li>T3</li>
                </ul>
            <li>Mio</li>
                <ul>
                    <li>A1</li>
                    <li>A2 </li>
                </ul>
            <li>Transcaribe</li>
                <ul>
                    <li>B1</li>
                    <li>B2</li>
                </ul>
        </ul>
        <hr/>
        <a href="https://www.transmilenio.gov.co/"><img src="../images/logo_transmi.jpg" alt="imagen no encontrada" title="img transmi"/></a>
        <iframe src="https://www.youtube.com/embed/3rVjjpQ0ouI"  width="420" height="315"></iframe>
        <hr/>
        <table border="1">
            <tr>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Pais</td>
            </tr>
            <tr>
                <td>Fabio</td>
                <td>Hernandez</td>
                <td>Colombia</td>
            </tr>
            <tr>
                <td>Damian</td>
                <td>Cubillos</td>
                <td>Colombia</td>
            </tr>
            <tr>
                <td>Diana</td>
                <td>Mora</td>
                <td>Colombia</td>
            </tr>
        </table>
    
    </body>
</html>
