<!DOCTYPE html>
<html>
    <head>
        <title> MI SISTEMA DE TRANSPORTE MASIVO </title>
        <link rel="stylesheet"  href="{{url_for('static', filename='registro.css')}}" />
    </head>
    <body>
        <h1>Registro de nuevo usuario</h1>
        <h2>Rellene los campos solicitados</h2>
        <form action="registro" method="post">
            <p> 
                <label>Nombre: </label>
                <input type="text" name="nombre" placeholder="ingrese su nombre..."/>
            </p>
            <p>
                <label>Apellido: </label>
                <input type="text" placeholder="ingrese su apellido..."
            </p>
            <p>
                <label> Sexo: </label>
                <input type="radio" name="sexo">Hombre
                <input type="radio" name="sexo">Mujer
            </p>
            <p>
                <label>Ciudad: </label>
                <select name="ciudad">
                    <option>Bucaramanga</option>
                    <option>Bogotá</option>
                    <option>Medellin</option>
                    <option>Cali</option>
                </select>
            </p>
            <p>
                <label>acerca de ti:</label>
                <br/>
                <textarea name="acerca de ti.."></textarea>
            </p>
            <input type="submit" value="Registrarse"/>
        </form>


    </body>


</html>